#particles {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

.embed-block {
    background: $color-gray-800;
    padding: 5px;
}

.accent-box {
    border: 3px solid $color-accent
}