#particles {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

.embed-block {
    margin-bottom: 2.5em;
    margin-top: 2.5em;
}

.canvas-wrapper {
    width: 100%;
    border: 3px solid $color-accent;
    background: $color-gray-700;
}